extends layout

block header
  div.navbar
    div.menu-text メモ帳超特急

block content
  div
    h1.section= pageTitle
    hr
    div.container
      table.table
        tr
          td
            strong タイトル
          td= targetMemo.title
        tr
          td
            strong メモ本文
          td= targetMemo.memo
        tr
          td
            strong 作成日
          td= targetMemo.createdAt
        tr
          td
            strong 更新日
          td= targetMemo.updatedAt
      a(href="/").button 戻る